ul li {
	list-style: none;
	line-height: 3em;
}

.class-title .line, .subtitle .line{
	margin:0 0 40px 0;
}

.class-title h3 {
	color:#fff;
	margin: 10px;
	text-align: center;
	padding: 20px;
}

.sel-list {
	background: #fff;
}

.sel-list .active a{
	color: #E74C3C;
}


.class-info {
	background: #fff;
	width: 80%;
	float: right;
	padding: 20px;
}

.detail-info p{
	line-height: 1.4em;
}
